.body {
    background-color: rgb(211, 248, 255);
}

.section1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 1.1rem;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(64, 107, 187);
    
}
